help/
.vscode/
helloos.img
empty.img
helloos.elf
cprog.S
cprog.asm
*.o
*.bin
bootloader.elf
cprog.elf
out.txt
*-dump
a.exe
dump.txt
cprog-dump.txt
*.img
helloos-fat12.img
ghtoken.txt
kernel-dump-*
kernel.bin
kernel.elf
a.out